body {
    margin: 0;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 600px;
    height: 300px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}
.countdown {
    display: block;
}
.clock {
    font-size: 100px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.buttons button{
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
}